<header id="centerDiv">
    <ul class="centerUL">
        <li><a href="{{ url_for("index") }}" {% if index %}  class="active" {% endif %} >Home</a></li>
        <li><a href="{{ url_for("products") }}" {% if products %}  class="active" {% endif %} >Products</a></li>
        <li><a href="{{ url_for("basket") }}" {% if basket %}  class="active" {% endif %} >Basket</a></li>
        <li><a href="{{ url_for("signup") }}" {% if signup %}  class="active" {% endif %} >Sign Up</a></li>
        <li><a href="{{ url_for("signin") }}" {% if signin %}  class="active" {% endif %} >Sign In</a></li>
    </ul>
</header>
<hr>