{% extends 'master.html' %}

{% block content %}
<h2>Laptops - 2023</h2>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Ticket Number</th>
            <th scope="col">Username</th>
            <th scope="col">Type</th>
            <th scope="col">Story Points</th>
        </tr>
        </thead>
        <tbody>
        {% for data in dataTicket %}
        <tr>
            <td scope="ro2">{{ data.TicketNumber }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.TYPE }}</td>
            <td>{{ data.StoryPoints }}</td>
        </tr>
        {% endfor %}
        
        </tbody>
    </table>
</div>
{% endblock content %}
