
{% extends 'master.html' %}

{% block content %}
<div id="login-box">
    <div class="left">
        <h1>Sign up</h1>
        <form action="{{ url_for('signup') }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.username(placeholder="Username", value = data.username)}}
            {{ form.email(placeholder="E-Mail", value = data.email)}}
            {{ form.password(placeholder="Password", value = data.password)}}
            <input type="password" name="password2" placeholder="Retype password" />
            {{ form.signup_submit()}}
        </form>
    </div>

    <div class="right">
       <span class="loginwith">Sign in with<br />social network</span>
       <button class="social-signin facebook">Log in with facebook</button>
       <button class="social-signin twitter">Log in with Twitter</button>
       <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
</div>
{% endblock content %}
